passwords.txt
pg_data/
.github/
.idea/
.docker_env
.env
poetry.lock
readme.txt
.pre-commit-config.yaml
docker-compose.yaml
docker-compose-ci.yaml
setup.cfg
README.md
env/
.gitignore
.python-version
postgres-data
__pycache__/